# Importing Data

First, let's import and format the data in our notebook. We'll start with the data on electricity consumption.

This data is in the form of excel sheets (.xls), so we should be able to use the pandas .ExcelFile function to import the data.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
xl_2002 = pd.ExcelFile('./Data/Consumption/2002_ERCOT_Hourly_Load_Data.xls')

In [3]:
print(xl_2002.sheet_names)

['native_Load_2002']

In [4]:
cons_2002 = xl_2002.parse('native_Load_2002')

In [5]:
cons_2002.head()

,Hour_End,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
0,2002-01-01 01:00:00.003,8331.469266,1111.096549,1094.045496,995.298392,10336.304899,2165.007571,4793.193560,843.747177,29670.162911
1,2002-01-01 01:59:59.997,8107.805431,1091.481584,1083.517981,981.195477,10178.052738,2092.374118,4766.918187,835.488188,29136.833703
2,2002-01-01 03:00:00.000,7890.721717,1080.257616,1085.038740,971.305257,10100.887710,2042.080714,4702.918892,830.694878,28703.905525
3,2002-01-01 04:00:00.003,7799.817527,1079.726403,1093.381853,971.262963,10081.565109,2011.935791,4669.064391,835.068413,28541.822450
4,2002-01-01 04:59:59.997,7815.968171,1087.934961,1106.651296,982.535591,10192.218670,2002.487678,4695.011904,848.598209,28731.406478

In [7]:
xl_2003 = pd.ExcelFile('./Data/Consumption/2003_ERCOT_Hourly_Load_Data.xls')
cons_2003 = xl_2003.parse('native_Load_2003')
cons_2003.head()

,Hour_End,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
0,2003-01-01 01:00:00.003,7314.780744,1036.148174,1045.133783,923.252130,8894.325899,1789.728088,4126.710428,720.614612,25850.693856
1,2003-01-01 01:59:59.997,7191.622771,1052.905958,1057.384009,925.322632,8903.379971,1743.996713,4122.863299,717.870496,25715.345849
2,2003-01-01 03:00:00.000,7070.109415,1054.472158,1066.026565,930.799970,8956.825659,1705.079075,4096.731053,714.620617,25594.664511
3,2003-01-01 04:00:00.003,6995.856927,1071.321582,1073.569811,940.416419,9051.877218,1686.165070,4072.129754,717.546966,25608.883747
4,2003-01-01 04:59:59.997,7039.006752,1099.778468,1082.572201,956.271373,9261.293160,1698.247068,4116.080308,728.963828,25982.213157

In [8]:
xl_2004 = pd.ExcelFile('./Data/Consumption/2004_ERCOT_Hourly_Load_Data.xls')
cons_2004 = xl_2004.parse('native_Load_2004')

In [9]:
xl_2005 = pd.ExcelFile('./Data/Consumption/2005_ERCOT_Hourly_Load_Data.xls')
cons_2005 = xl_2005.parse('native_Load_2005')

In [11]:
xl_2006 = pd.ExcelFile('./Data/Consumption/2006_ERCOT_Hourly_Load_Data.xls')
cons_2006 = xl_2006.parse('native_Load_2006')

In [12]:
xl_2007 = pd.ExcelFile('./Data/Consumption/2007_ERCOT_Hourly_Load_Data.xls')
cons_2007 = xl_2007.parse('native_Load_2007')

In [13]:
xl_2008 = pd.ExcelFile('./Data/Consumption/2008_ERCOT_Hourly_Load_Data.xls')
cons_2008 = xl_2008.parse('native_Load_2008')

In [14]:
xl_2009 = pd.ExcelFile('./Data/Consumption/2009_ERCOT_Hourly_Load_Data.xls')
cons_2009 = xl_2009.parse('native_Load_2009')

In [15]:
xl_2010 = pd.ExcelFile('./Data/Consumption/2010_ERCOT_Hourly_Load_Data.xls')
cons_2010 = xl_2010.parse('native_Load_2010')

In [16]:
xl_2011 = pd.ExcelFile('./Data/Consumption/2011_ERCOT_Hourly_Load_Data.xls')
cons_2011 = xl_2011.parse('native_Load_2011')

In [17]:
xl_2012 = pd.ExcelFile('./Data/Consumption/2012_ERCOT_Hourly_Load_Data.xls')
cons_2012 = xl_2012.parse('native_Load_2012')

In [18]:
xl_2013 = pd.ExcelFile('./Data/Consumption/2013_ERCOT_Hourly_Load_Data.xls')
cons_2013 = xl_2013.parse('native_Load_2013')

In [19]:
xl_2014 = pd.ExcelFile('./Data/Consumption/2014_ERCOT_Hourly_Load_Data.xls')
cons_2014 = xl_2014.parse('native_Load_2014')

In [20]:
xl_2015 = pd.ExcelFile('./Data/Consumption/native_Load_2015.xls')
cons_2015 = xl_2015.parse('native_Load_2015')

In [23]:
xl_2016 = pd.ExcelFile('./Data/Consumption/native_Load_2016.xlsx')
cons_2016 = xl_2016.parse('native_Load_2016')

In [27]:
xl_2017 = pd.ExcelFile('./Data/Consumption/native_Load_2017.xlsx')
cons_2017 = xl_2017.parse('Page1_1')

In [34]:
#Combining all of these dataframes into a single dataframe:
c_list = [cons_2002, cons_2003, cons_2004, cons_2005, cons_2006, cons_2007, cons_2008, cons_2009, cons_2010, 
          cons_2011, cons_2012, cons_2013, cons_2014, cons_2015, cons_2016, cons_2017]
cons_full = pd.concat(c_list, join = 'outer', sort = False)

In [35]:
cons_full.head()

,Hour_End,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT,Hour Ending,FWEST,NCENT,SOUTH,SCENT
0,2002-01-01 01:00:00.003,8331.469266,1111.096549,1094.045496,995.298392,10336.304899,2165.007571,4793.193560,843.747177,29670.162911,NaN,NaN,NaN,NaN,NaN
1,2002-01-01 01:59:59.997,8107.805431,1091.481584,1083.517981,981.195477,10178.052738,2092.374118,4766.918187,835.488188,29136.833703,NaN,NaN,NaN,NaN,NaN
2,2002-01-01 03:00:00.000,7890.721717,1080.257616,1085.038740,971.305257,10100.887710,2042.080714,4702.918892,830.694878,28703.905525,NaN,NaN,NaN,NaN,NaN
3,2002-01-01 04:00:00.003,7799.817527,1079.726403,1093.381853,971.262963,10081.565109,2011.935791,4669.064391,835.068413,28541.822450,NaN,NaN,NaN,NaN,NaN
4,2002-01-01 04:59:59.997,7815.968171,1087.934961,1106.651296,982.535591,10192.218670,2002.487678,4695.011904,848.598209,28731.406478,NaN,NaN,NaN,NaN,NaN

We see here that unfortunately, not all of the columns in the data have the same name. It appears that the regions are still the same, so we'll only need to change the names of some of the columns to be consistent.

In [40]:
cons_2017.head()

,Hour Ending,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
0,01/01/2017 01:00,8791.789509,896.746302,1997.717635,683.621986,9239.153285,2366.632745,4490.781365,954.192864,29420.635691
1,01/01/2017 02:00,8569.708419,865.930568,1997.781319,677.969375,9104.997245,2332.744630,4370.656830,951.025166,28870.813551
2,01/01/2017 03:00,8326.425638,839.051175,1993.699160,671.998949,8988.035201,2237.506202,4210.650003,944.357749,28211.724078
3,01/01/2017 04:00,8137.497400,822.829332,1995.540876,675.267971,8979.148462,2178.102265,4088.713039,943.188703,27820.288047
4,01/01/2017 05:00,8011.869581,814.016188,1995.253501,663.619875,9033.547636,2133.953870,4021.757095,954.937932,27628.955677

Fortunately, the 2017 data is the only file with the differently named columns, so we simply set its column names as one of the other files and then do the concatenation.

In [44]:
cons_2017.columns = cons_2016.columns.tolist()

In [46]:
cons_full = pd.concat(c_list, join = 'outer', sort = False)

In [47]:
cons_full.head()

,Hour_End,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
0,2002-01-01 01:00:00.003000,8331.469266,1111.096549,1094.045496,995.298392,10336.304899,2165.007571,4793.193560,843.747177,29670.162911
1,2002-01-01 01:59:59.997000,8107.805431,1091.481584,1083.517981,981.195477,10178.052738,2092.374118,4766.918187,835.488188,29136.833703
2,2002-01-01 03:00:00,7890.721717,1080.257616,1085.038740,971.305257,10100.887710,2042.080714,4702.918892,830.694878,28703.905525
3,2002-01-01 04:00:00.003000,7799.817527,1079.726403,1093.381853,971.262963,10081.565109,2011.935791,4669.064391,835.068413,28541.822450
4,2002-01-01 04:59:59.997000,7815.968171,1087.934961,1106.651296,982.535591,10192.218670,2002.487678,4695.011904,848.598209,28731.406478

Next, let's clean up the Hour_End column so that it contains only rounded hours.