# Exploratory Data Analysis

Let's get a feel for our data. For now, let's only look at the electricity consumption data from 2016.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import datetime as dt
plt.rcParams['figure.figsize'] = [12,8]

## EDA: 2016 Electricity Consumption

In [2]:
cons_2016 = pd.read_csv('./Data/formatted/cons_2016.csv')

In [3]:
cons_2016 = cons_2016.drop('Unnamed: 0',axis = 1)
cons_2016 = cons_2016.drop('Hour_End',axis = 1)

In [4]:
cons_2016.head()

,Time,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
0,2016-01-01 01:00:00,9001.477932,1148.358788,2107.895986,788.543919,11409.33904,2829.993195,5479.057816,1088.091916,33852.75859
1,2016-01-01 02:00:00,8864.555456,1134.909662,2100.702470,782.355108,11235.17494,2830.075196,5405.955778,1080.369336,33434.09794
2,2016-01-01 03:00:00,8745.758728,1126.864026,2099.966167,781.237004,11151.96522,2789.470654,5334.159606,1069.644619,33099.06602
3,2016-01-01 04:00:00,8689.879755,1129.417663,2104.947864,785.264364,11209.70107,2757.999808,5302.938201,1073.658885,33053.80761
4,2016-01-01 05:00:00,8733.703094,1141.769602,2117.072608,790.248115,11428.71696,2769.678996,5364.298843,1096.410845,33441.89907

In [5]:
cons_2016.describe()

,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
count,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000,8783.000000
mean,11694.029194,1398.376129,2142.665562,823.282124,12953.497027,3395.124847,6484.085158,1114.805133,40005.865174
std,2618.443770,336.877532,217.125434,180.485402,3564.421647,834.567055,1719.714030,224.495884,9437.353767
min,7531.596105,786.886674,1757.198271,539.001419,7395.146237,1964.335300,3753.032619,741.591051,25106.822890
25%,9864.625458,1164.010559,1990.008739,698.705770,10586.451310,2771.179928,5323.108989,965.052956,33626.975385
50%,10991.883820,1320.993281,2096.015909,777.059382,12036.062540,3217.636866,6063.689181,1059.033116,37668.496500
75%,13186.394025,1565.436261,2252.682225,911.307298,14631.504525,3933.536975,7333.604533,1227.723193,44705.489975
max,19826.181610,2493.828673,2908.970431,1440.183510,25282.316480,5786.825863,12344.841640,1899.086230,71092.609220

In [6]:
cons_2016.index = cons_2016['Time']
cons_2016 = cons_2016.drop('Time',axis=1)

In [7]:
cons_2016.head()

,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
Time,,,,,,,,,
2016-01-01 01:00:00,9001.477932,1148.358788,2107.895986,788.543919,11409.33904,2829.993195,5479.057816,1088.091916,33852.75859
2016-01-01 02:00:00,8864.555456,1134.909662,2100.702470,782.355108,11235.17494,2830.075196,5405.955778,1080.369336,33434.09794
2016-01-01 03:00:00,8745.758728,1126.864026,2099.966167,781.237004,11151.96522,2789.470654,5334.159606,1069.644619,33099.06602
2016-01-01 04:00:00,8689.879755,1129.417663,2104.947864,785.264364,11209.70107,2757.999808,5302.938201,1073.658885,33053.80761
2016-01-01 05:00:00,8733.703094,1141.769602,2117.072608,790.248115,11428.71696,2769.678996,5364.298843,1096.410845,33441.89907

In [8]:
# for i in cons_2016.columns.tolist():
#     plt.plot(cons_2016[i])

Let's see what happens when we just plot everything as is:

In [ ]:
plt.plot(cons_2016.index,cons_2016['COAST'])

In [14]:
cons_2016.columns.tolist()

['COAST',
 'EAST',
 'FAR_WEST',
 'NORTH',
 'NORTH_C',
 'SOUTHERN',
 'SOUTH_C',
 'WEST',
 'ERCOT']

In [13]:
cons_2016.columns.tolist()

['COAST',
 'EAST',
 'FAR_WEST',
 'NORTH',
 'NORTH_C',
 'SOUTHERN',
 'SOUTH_C',
 'WEST',
 'ERCOT']