# Exploratory Data Analysis

Let's take a closer look at our data. For now, let's only look at the data from 2017.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import datetime as dt

In [2]:
cons_2017 = pd.read_csv('cons_2017.csv')

In [8]:
cons_2017 = cons_2017.drop('Unnamed: 0',axis = 1)
cons_2017 = cons_2017.drop('Hour_End',axis = 1)

In [9]:
cons_2017.head()

,Time,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
0,2017-01-01 01:00:00,"8,791.79",896.75,"1,997.72",683.62,"9,239.15","2,366.63","4,490.78",954.19,"29,420.64"
1,2017-01-01 02:00:00,"8,569.71",865.93,"1,997.78",677.97,"9,105.00","2,332.74","4,370.66",951.03,"28,870.81"
2,2017-01-01 03:00:00,"8,326.43",839.05,"1,993.70",672,"8,988.04","2,237.51","4,210.65",944.36,"28,211.72"
3,2017-01-01 04:00:00,"8,137.50",822.83,"1,995.54",675.27,"8,979.15","2,178.10","4,088.71",943.19,"27,820.29"
4,2017-01-01 05:00:00,"8,011.87",814.02,"1,995.25",663.62,"9,033.55","2,133.95","4,021.76",954.94,"27,628.96"

In [11]:
cons_2017.describe()

,Time,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
count,8760,8760,8760,8760,8760,8760,8760,8760,8760,8760
unique,8760,8754,8715,8696,8643,8758,8738,8753,8676,8759
top,2017-11-14 06:00:00,"12,137.50","1,215.04","2,180.44",880.47,"11,232.96","3,372.82","5,992.15","1,022.79","36,551.32"
freq,1,2,3,3,3,2,2,2,3,2