# Importing Data

First, let's import and format the data in our notebook. We'll start with the data on electricity consumption.

This data is in the form of excel sheets (.xls), so we should be able to use the pandas .ExcelFile function to import the data.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
xl_2002 = pd.ExcelFile('./Data/Consumption/2002_ERCOT_Hourly_Load_Data.xls')

In [3]:
print(xl_2002.sheet_names)

['native_Load_2002']

In [4]:
cons_2002 = xl_2002.parse('native_Load_2002')

In [9]:
cons_2002.tail()

,Hour_End,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
8755,2002-12-31 20:00:00,8147.901709,1212.388093,1102.019116,1025.511727,10340.550087,2142.370628,4704.499036,831.445283,29506.685679
8756,2002-12-31 21:00:00,7979.696214,1179.092793,1079.133364,995.467557,9973.346014,2088.368682,4542.054827,814.855029,28652.014481
8757,2002-12-31 22:00:00,7739.078350,1130.887905,1064.220699,968.681093,9702.505576,2012.524138,4412.336834,801.963983,27832.198579
8758,2002-12-31 23:00:00,7545.696137,1112.058942,1057.281233,941.885164,9367.219054,1945.962142,4311.669894,786.692540,27068.465106
8759,2003-01-01 00:00:00,7443.537200,1059.603660,1043.142000,920.722110,9098.186400,1878.790500,4213.323230,758.288460,26415.593560

In [76]:
cons_2002 = pd.read_csv('./Data/Consumption/2003_ERCOT_Hourly_Load_Data.csv')
cons_2002['Year'] = np.nan
cons_2002['Month'] = np.nan
cons_2002['Day'] = np.nan
cons_2002['Hour'] = np.nan
for i in range(len(cons_2002)):
    ti = time.strptime(cons_2002.iloc[i,0], '%m/%d/%Y %H:%M')
    cons_2002.iloc[i,10] = ti.tm_year
    cons_2002.iloc[i,11] = ti.tm_mon
    cons_2002.iloc[i,12] = ti.tm_mday
    cons_2002.iloc[i,13] = ti.tm_hour

In [77]:
cons_2002.head()

,Hour_End,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT,Year,Month,Day,Hour
0,1/1/2003 1:00,7314.780744,1036.148174,1045.133783,923.252130,8894.325899,1789.728088,4126.710428,720.614612,25850.69386,2003.0,1.0,1.0,1.0
1,1/1/2003 2:00,7191.622771,1052.905958,1057.384009,925.322631,8903.379971,1743.996713,4122.863299,717.870496,25715.34585,2003.0,1.0,1.0,2.0
2,1/1/2003 3:00,7070.109415,1054.472158,1066.026565,930.799970,8956.825659,1705.079075,4096.731053,714.620617,25594.66451,2003.0,1.0,1.0,3.0
3,1/1/2003 4:00,6995.856927,1071.321582,1073.569811,940.416419,9051.877218,1686.165070,4072.129754,717.546966,25608.88375,2003.0,1.0,1.0,4.0
4,1/1/2003 5:00,7039.006752,1099.778468,1082.572201,956.271373,9261.293160,1698.247068,4116.080308,728.963828,25982.21316,2003.0,1.0,1.0,5.0

In [51]:
# xl_2003 = pd.ExcelFile('./Data/Consumption/2003_ERCOT_Hourly_Load_Data.xls')
# cons_2003 = xl_2003.parse('native_Load_2003')
# cons_2003.head()

,Hour_End,Hour_End_1,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
0,2003-01-01 01:00:00.003,37622.041667,7314.780744,1036.148174,1045.133783,923.252130,8894.325899,1789.728088,4126.710428,720.614612,25850.693856
1,2003-01-01 01:59:59.997,37622.083333,7191.622771,1052.905958,1057.384009,925.322632,8903.379971,1743.996713,4122.863299,717.870496,25715.345849
2,2003-01-01 03:00:00.000,37622.125000,7070.109415,1054.472158,1066.026565,930.799970,8956.825659,1705.079075,4096.731053,714.620617,25594.664511
3,2003-01-01 04:00:00.003,37622.166667,6995.856927,1071.321582,1073.569811,940.416419,9051.877218,1686.165070,4072.129754,717.546966,25608.883747
4,2003-01-01 04:59:59.997,37622.208333,7039.006752,1099.778468,1082.572201,956.271373,9261.293160,1698.247068,4116.080308,728.963828,25982.213157

In [74]:
cons_2003 = pd.read_csv('./Data/Consumption/2003_ERCOT_Hourly_Load_Data.csv')
cons_2003['Year'] = np.nan
cons_2003['Month'] = np.nan
cons_2003['Day'] = np.nan
cons_2003['Hour'] = np.nan
for i in range(len(cons_2003)):
    ti = time.strptime(cons_2003.iloc[i,0], '%m/%d/%Y %H:%M')
    cons_2003.iloc[i,10] = ti.tm_year
    cons_2003.iloc[i,11] = ti.tm_mon
    cons_2003.iloc[i,12] = ti.tm_mday
    cons_2003.iloc[i,13] = ti.tm_hour

In [55]:
cons_2003_1 = pd.read_csv('./Data/Consumption/2003_ERCOT_Hourly_Load_Data.csv')
cons_2003_1.head()

,Hour_End,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
0,1/1/2003 1:00,7314.780744,1036.148174,1045.133783,923.252130,8894.325899,1789.728088,4126.710428,720.614612,25850.69386
1,1/1/2003 2:00,7191.622771,1052.905958,1057.384009,925.322631,8903.379971,1743.996713,4122.863299,717.870496,25715.34585
2,1/1/2003 3:00,7070.109415,1054.472158,1066.026565,930.799970,8956.825659,1705.079075,4096.731053,714.620617,25594.66451
3,1/1/2003 4:00,6995.856927,1071.321582,1073.569811,940.416419,9051.877218,1686.165070,4072.129754,717.546966,25608.88375
4,1/1/2003 5:00,7039.006752,1099.778468,1082.572201,956.271373,9261.293160,1698.247068,4116.080308,728.963828,25982.21316

In [44]:
x = cons_2003_1.iloc[12,0]
x

'1/1/2003 13:00'

In [45]:
import datetime
import time

In [62]:
a = time.strptime(x, '%m/%d/%Y %H:%M')
type(a)

time.struct_time

In [71]:
a.tm_mday

1

In [15]:
cons_2003_1.iloc[0,0].apply(lambda x: datetime.strptime(x,'%d%b%Y:%H:%M:%S.%f'))

0

In [34]:
xl_2004 = pd.ExcelFile('./Data/Consumption/2004_ERCOT_Hourly_Load_Data.xls')
cons_2004 = xl_2004.parse('native_Load_2004')
cons_2004.head()

,Hour_End,Hour_End.1,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,ERCOT
0,2004-01-01 01:00:00.003,2004-01-01 01:00:00.003,7225.087742,877.786281,1044.891487,745.789652,7124.208773,1660.451157,3639.115900,654.610079,22971.941071
1,2004-01-01 01:59:59.997,2004-01-01 01:59:59.997,6994.247187,850.745765,1032.040567,721.344360,6854.581504,1603.520440,3495.158058,639.879137,22191.517017
2,2004-01-01 03:00:00.000,2004-01-01 03:00:00.000,6717.415522,831.633221,1021.098479,699.704826,6639.484787,1527.985961,3322.697830,623.416884,21383.437510
3,2004-01-01 04:00:00.003,2004-01-01 04:00:00.003,6554.269144,823.555980,1015.411169,691.838525,6492.392024,1473.892322,3201.716842,613.488344,20866.564352
4,2004-01-01 04:59:59.997,2004-01-01 04:59:59.997,6511.185045,823.379150,1009.742072,686.764064,6452.262173,1462.759032,3163.737777,613.323295,20723.152608

In [ ]:
xl_2005 = pd.ExcelFile('./Data/Consumption/2005_ERCOT_Hourly_Load_Data.xls')
cons_2005 = xl_2005.parse('native_Load_2005')

In [ ]:
xl_2006 = pd.ExcelFile('./Data/Consumption/2006_ERCOT_Hourly_Load_Data.xls')
cons_2006 = xl_2006.parse('native_Load_2006')

In [ ]:
xl_2007 = pd.ExcelFile('./Data/Consumption/2007_ERCOT_Hourly_Load_Data.xls')
cons_2007 = xl_2007.parse('native_Load_2007')

In [ ]:
xl_2008 = pd.ExcelFile('./Data/Consumption/2008_ERCOT_Hourly_Load_Data.xls')
cons_2008 = xl_2008.parse('native_Load_2008')

In [ ]:
xl_2009 = pd.ExcelFile('./Data/Consumption/2009_ERCOT_Hourly_Load_Data.xls')
cons_2009 = xl_2009.parse('native_Load_2009')

In [ ]:
xl_2010 = pd.ExcelFile('./Data/Consumption/2010_ERCOT_Hourly_Load_Data.xls')
cons_2010 = xl_2010.parse('native_Load_2010')

In [ ]:
xl_2011 = pd.ExcelFile('./Data/Consumption/2011_ERCOT_Hourly_Load_Data.xls')
cons_2011 = xl_2011.parse('native_Load_2011')

In [ ]:
xl_2012 = pd.ExcelFile('./Data/Consumption/2012_ERCOT_Hourly_Load_Data.xls')
cons_2012 = xl_2012.parse('native_Load_2012')

In [ ]:
xl_2013 = pd.ExcelFile('./Data/Consumption/2013_ERCOT_Hourly_Load_Data.xls')
cons_2013 = xl_2013.parse('native_Load_2013')

In [ ]:
xl_2014 = pd.ExcelFile('./Data/Consumption/2014_ERCOT_Hourly_Load_Data.xls')
cons_2014 = xl_2014.parse('native_Load_2014')

In [ ]:
xl_2015 = pd.ExcelFile('./Data/Consumption/native_Load_2015.xls')
cons_2015 = xl_2015.parse('native_Load_2015')

In [ ]:
xl_2016 = pd.ExcelFile('./Data/Consumption/native_Load_2016.xlsx')
cons_2016 = xl_2016.parse('native_Load_2016')

In [ ]:
xl_2017 = pd.ExcelFile('./Data/Consumption/native_Load_2017.xlsx')
cons_2017 = xl_2017.parse('Page1_1')

In [ ]:
#Combining all of these dataframes into a single dataframe:
c_list = [cons_2002, cons_2003, cons_2004, cons_2005, cons_2006, cons_2007, cons_2008, cons_2009, cons_2010, 
          cons_2011, cons_2012, cons_2013, cons_2014, cons_2015, cons_2016, cons_2017]
cons_full = pd.concat(c_list, join = 'outer', sort = False)

In [ ]:
cons_full.head()

We see here that unfortunately, not all of the columns in the data have the same name. It appears that the regions are still the same, so we'll only need to change the names of some of the columns to be consistent.

In [ ]:
cons_2017.head()

Fortunately, the 2017 data is the only file with the differently named columns, so we simply set its column names as one of the other files and then do the concatenation.

In [ ]:
cons_2017.columns = cons_2016.columns.tolist()

In [ ]:
cons_full = pd.concat(c_list, join = 'outer', sort = False)

In [ ]:
cons_full.head()

Next, let's clean up the Hour_End column so that it contains only rounded hours.